html,
body {
    height: 100%;
    font-size: 1em;
    font-family:Arial, sans-serif ;
}

hr {
    border: none;
    color: #337AB7;
    background-color: #337AB7;
    height: 2px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.text_center {
    text-align: center;
}

.load_list {
    padding: 20px 0;
}

.text_decoration {
    list-style-type: none;
}

.left_block {
    background: white;

}
.item{
    display: none ;
}
.active{
    display: block !important;
}


